<div class="container col-md-6" >
    <form (ngSubmit)="userRegister()">
      <label style="font-size: 70px;color: #000;" for="">Register Here.....</label>
      
     <div class="mb-3">
       <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)] = "user.email"/>
    </div>
    <div class ="mb-3">
        <label for="" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)] = "user.name"/>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">UserName</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)] = "user.username"/>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)] = "user.password">
      </div>  
    <input type="submit" value="Register" class="btn-btn-primary">      
    </form>
</div>
